.tile {
  background-color: #e1e1e1;
  border: solid 1px #e1e1e1;
  text-align: left;
  padding-bottom: 0.5rem;
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1rem;
  counter-increment: tile;
}

.tile-caption {
  margin-left: 0.5em;
}

.tile h5 {
  color: #2f516d;
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}

.tile span {
  color: #899bb2;
  font-size: 0.8rem;
  padding-left: 1rem;
  /* copyright content: https://www.freeiconspng.com/img/4241*/
  background-image: url('https://www.freeiconspng.com/uploads/location-icons-20.png');
  background-size: contain;
  background-repeat: no-repeat;
}
